﻿@import 'global';
@import 'typography';
@import 'transitions';

.btn-base() {
    min-width: 180px;
    padding: 20px;
    border-radius: 7.5px;
    .font-size(@text_body);
    .text-bold;
    text-decoration: none;
    .uppercase;
    box-shadow: 0 5px 0 @color_accent_shadow;
    text-align: center;
    display: inline-block;
    .default-transition(opacity);

    &:hover {
        opacity: .7;
    }
}

a.btn, button, input[type=submit] {
    .btn-base;

    color: white;
    background-color: @color_accent;
    border: 0 none;
}

a.btn.light, button.light {
    .btn-base;

    color: @color_accent;
    background-color: white;
    border: 0 none;
}