﻿* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,
body {
    width: 100%;
	height: 100%;
}

body {
	position: relative;
	background: white;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input[type='checkbox'] {
    -webkit-appearance: checkbox;
       -moz-appearance: checkbox;
}
input[type='radio'] {
    -webkit-appearance: radio;
       -moz-appearance: radio;
}

.clearfix, .cf {
	zoom: 1;

	&:after {
	    content: " 0020";
        display: block;
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden;
	}
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}