﻿@import 'global';

footer {
    padding: 0 40px;
    background-color: @color_foreground_mid;
    color: white;
    .text-s;

    .in {
        padding: 20px 0 30px;
    }

    a {
        color: white;
    }

    nav.main {
        float: left;
        .font-size(@text_body);

        a {
            display: block;
            margin: 10px 20px 0 0;
            float: left;
        }
    }

    .social {
        float: right;

        a {
            width: 40px;
            height: 40px;
            margin-left: 20px;
            display: block;
            float: left;
            background-image: data-uri('image/svg+xml;base64', '../img/social.svg');
            background-repeat: no-repeat;
            background-size: 80px 40px; // IE bug, can't use auto with SVG?

            &:hover {
                opacity: 0.5;
            }

            &.facebook {
                background-position: 0 0;
            }
            &.twitter {
                background-position: -40px 0;
            }
        }
    }

    .author {
        clear: both;
        padding-top: 20px;
    }
}

@media @media_medium {
    footer {
        padding-left: 20px;
        padding-right: 20px;

        nav.main a {
            float: none;
        }

        .© {
            padding-top: 30px;
        }
    }
}