﻿@content_width:             1180px;
@text_width:                800px;

@gutter:                    40px;
@gutter_s:                  20px;
@gutter_mobile:             20px;

@color_accent:				#1c8d76;
@color_accent_shadow:       #0e604c;

@color_foreground:          #2b2b2b;
@color_foreground_mid:      #464646;

@color_subtle:              #e2e2e2;
@color_subtle_text:         #757575;

@media_threshold_large:     1080px;
@media_threshold_medium:    768px;
@media_threshold_small:     480px;

@media_large: ~"only screen and (max-width: @{media_threshold_large})";
@media_medium: ~"only screen and (max-width: @{media_threshold_medium})";
@media_small: ~"only screen and (max-width: @{media_threshold_small})";

@media_2x: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi)";

// Better names
@query_large: @media_large;
@query_medium: @media_medium;
@query_small: @media_small;
@query_2x: @media_2x;
@query_short: ~"only screen and (max-height: 800px)";

@interaction_opacity: .7;