﻿@import 'global';
@import 'mixins';
@import 'transitions';
@import 'typography';

@header_height: 80px;

header {
    position: relative;
    height: @header_height;
    padding: 0 40px;
    background-color: @color_accent;
    z-index: 1000;

    .logo {
        width: 210px;
        height: 36px;
        margin-top: 23px;
        display: block;
        float: left;
        background-image: url(/img/logo.png);
        background-image: url(/img/logo.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    a.logo {
        text-align: center;
    }

    nav {
        margin: 0;
        float: right;

        a {
            color: white;
            padding: 0 10px;
            margin: 0 10px;
            display: block;
            float: left;
            line-height: @header_height;
            text-decoration: none;
            font-size: ~"@{size_m}px"; // Hardcoded to prevent resizing
            .default-transition(opacity);

            &.alt {
                color: @color_accent;
                background-color: white;
                line-height: 48px;
                margin: 16px 0 16px 16px;
                padding: 0 16px;
                border-radius: 3px;
            }

            &:hover {
                opacity: .7;
            }
        }
    }

    @media @query_medium {
        @header_height_mobile: 64px;

        height: 64px;
        background: white;
        border-bottom: 2px solid @color_accent;
        padding: 0;

        .logo {
            width: 170px;
            height: @header_height_mobile;
            margin: 0 0 0 @gutter_mobile;
            background-position: center left;
            float: left;

            body:not(.nav-active) & {
                background-image: url(/img/logo-green.png);
                background-image: url(/img/logo-green.svg);
            }
        }

        #nav-toggle {
            width: @header_height_mobile;
            height: @header_height_mobile;
            float: right;
            display: block;
            .background-image('menu'; @svg: 1);
            background-size: 24px;
            background-position: center;
            cursor: pointer;
            .default-transition(opacity);

            &:hover {
                opacity: .7;
            }
        }

        nav {
            position: absolute;
            width: 100%;
            background: @color_accent;
            padding: 0 0 10px;
            margin-top: 64px;
            .box-shadow-z(3);
            display: none;

            a {
                width: 100%;
                padding: 0 @gutter_mobile;
                height: 48px;
                line-height: 48px;
                margin: 0;
                padding: 0 @gutter_mobile;
                display: block;

                &.alt {
                    @nav_alt_gutter: (@gutter_mobile * 2);

                    width: ~"calc(100% - @{nav_alt_gutter})";
                }
            }
        }

        body.nav-active & {
            &:after {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                // Allows for scroll in Chrome for Android where the address
                // bar scrolls out of view making the page larger than 100%
                height: 150%;
                background: rgba(0,0,0,.3);
                content: " ";
            }

            .in {
                position: relative;
                background: @color_accent;
                z-index: 1;
            }

            nav {
                display: block;
            }

            #nav-toggle {
                .background-image('close'; @svg: 1);
            }
        }
    }
}

@media @media_medium {
    body.nav-active {
        overflow: hidden;
    }
}