@glyph_tick: "\e003";
@glyph_schedule: "\e01c";
@glyph_reminder: "\e00d";
@glyph_task: "\e004";
@glyph_exam: "\e012";
@glyph_sync: "\e022";

@font-face {
    font-family: 'msl';
    src:url('../fonts/msl.eot');
    src:url('../fonts/msl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/msl.svg#msl') format('svg'),
        url('../fonts/msl.woff') format('woff'),
        url('../fonts/msl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.glyph {
    font-family: 'msl';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    content: attr(data-icon);
    .glyph;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-tutor, .icon-time, .icon-tick, .icon-task, .icon-subject, .icon-exit, .icon-seat, .icon-search, .icon-right, .icon-ribbon, .icon-refresh, .icon-plus, .icon-notification,
.icon-minus, .icon-location, .icon-left, .icon-home, .icon-exam, .icon-edit, .icon-down, .icon-delete, .icon-dash, .icon-cross, .icon-cog, .icon-class, .icon-cal, .icon-attention,
.icon-schedule, .icon-progress, .icon-class-group, .icon-student, .icon-school, .icon-heart {
    .glyph;
}
.icon-tutor:before,
[data-icon='tutor']:before  {
    content: "\e001";
}
.icon-time:before,
[data-icon='time']:before  {
    content: "\e002";
}
.icon-tick:before,
[data-icon='tick']:before  {
    content: @glyph_tick;
}
.icon-task:before,
[data-icon='task']:before {
    content: "\e004";
}
.icon-subject:before,
[data-icon='subject']:before {
    content: "\e005";
}
.icon-exit:before,
[data-icon='exit']:before {
    content: "\e006";
}
.icon-seat:before,
[data-icon='seat']:before  {
    content: "\e007";
}
.icon-search:before,
[data-icon='search']:before {
    content: "\e008";
}
.icon-right:before,
[data-icon='right']:before {
    content: "\e009";
}
.icon-ribbon:before {
    content: "\e00a";
}
.icon-refresh:before {
    content: "\e00b";
}
.icon-plus:before,
[data-icon='plus']:before {
    content: "\e00c";
}
.icon-notification:before,
[data-icon='notification']:before {
    content: "\e00d";
}
.icon-minus:before {
    content: "\e00e";
}
.icon-location:before,
[data-icon='location']:before {
    content: "\e00f";
}
.icon-left:before,
[data-icon='left']:before {
    content: "\e010";
}
.icon-home:before {
    content: "\e011";
}
.icon-exam:before,
[data-icon='exam']:before {
    content: "\e012";
}
.icon-edit:before,
[data-icon='edit']:before  {
    content: "\e013";
}
.icon-down:before {
    content: "\e014";
}
.icon-delete:before,
[data-icon='delete']:before {
    content: "\e015";
}
.icon-dash:before,
[data-icon='dash']:before {
    content: "\e016";
}
.icon-cross:before,
[data-icon='cross']:before  {
    content: "\e017";
}
.icon-cog:before,
[data-icon='cog']:before  {
    content: "\e018";
}
.icon-class:before,
[data-icon='class']:before {
    content: "\e019";
}
.icon-cal:before,
[data-icon='cal']:before  {
    content: "\e01a";
}
.icon-attention:before,
[data-icon='attention']:before {
    content: "\e01b";
}
.icon-schedule:before,
[data-icon='schedule']:before {
    content: "\e01c";
}
.icon-progress:before,
[data-icon='progress']:before {
    content: "\e01d";
}
.icon-class-group:before,
[data-icon='class-group']:before {
    content: "\e01f";
}
.icon-student:before,
[data-icon='student']:before {
    content: "\e021";
}
.icon-school:before,
[data-icon='school']:before {
    content: "\e020";
}
.icon-heart:before,
[data-icon='heart']:before {
    content: "\e01e";
}