﻿@import 'normalize';

@import 'global';
@import 'defaults';
@import 'typography';
@import 'icon-font';
@import 'components';

@import 'header';
@import 'footer';

@import 'views/home';
@import 'views/tour';
@import 'views/schools';
@import 'views/blog';
@import 'views/legal';
@import 'views/about';
@import 'views/error';

@import 'components/cookie-banner';

@gutter: 40px;

header,
section,
footer {
    width: 100%;
}

header,
nav,
section,
footer {
    > .in {
        position: relative;
        max-width: @content_width;
        margin: 0 auto;
    }
}

section {
    position: relative;
    padding: 0 80px;
    overflow: hidden;

    &.alt {
        background-color: @color_accent;
        color: white;

        h2 {
            color: white;
        }
    }

    &.ctd {
        text-align: center;
    }

    &.slither {
        text-align: center;

        .in {
            min-height: 200px;
        }
    }

    &.r {
        .txt {
            left: 60%;
        }

        .img {
            left: 0;
        }
    }

    .in {
        min-height: 480px;

        > h2 {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .txt, .img {
        top: 0;
        height: 100%;
    }

    .txt {
        position: relative;
        left: 0;
        width: 40%;
        padding: 80px 0;
        z-index: 1;

        h2 {
            margin-bottom: 20px;
        }

        .btn {
            margin-top: 30px;
            display: block;
            float: left;
        }
    }

    .img {
        position: absolute;
        left: 50%;
        width: 55%;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 0;
    }

    &.hero {
        height: auto;
        padding: 0;
        text-align: center;

        > .in {
            min-height: 0;
            max-width: 800px;
            padding: 40px 0 (40px + 648px);
            z-index: 1;
        }

        p {
            max-width: 600px;
            margin: 20px auto;
            color: @color_foreground_mid;
            .text-normal;
        }

        .img {
            position: absolute;
            top: auto;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 648px;
            z-index: 0;

            > div {
                position: absolute;
            }
        }

        @media only screen and (min-width: @media_threshold_medium) {
            h1 {
                .font-size(36);
            }

            p {
                .font-size(18);
            }
        }

        @media @media_medium {
            text-align: left;

            > .in {
                padding-top: 40px;
            }

            p {
                max-width: none;
            }
        }
    }

    &.text {
        height: auto;
        .text-m;

        .in {
            max-width: @text_width + (@gutter * 2);
            padding: @gutter;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        h2 {
            margin-top: 1em;
            .text-l;
            color: @color_foreground;
        }

        h3 {
            margin-top: 1em;
            .text-m;
        }

        p {
            &.img-wrap {
                &, &-sml, &-v, &-m-scr {
                    margin: 2em 0;
                    text-align: center;
                }

                img {
                    width: 100%;
                    max-width: 720px;
                }

                &-sml img {
                    width: 100%;
                    max-width: 480px;
                }

                &-v img {
                    width: auto !important;
                    max-width: 60%;
                    max-height: 480px !important;
                }

                &-m-scr img {
                    width: 60% !important;
                    max-width: 320px;
                }
            }
        }
    }

    &.site-message {
        background: @color_foreground_mid;
        color: white;
        padding: 0 40px;

        .in {
            min-height: 0;
            padding: 20px 0;
            .text-l;
        }

        a {
            color: white;
        }

        b {
            .text-bold;
        }
    }
}

.tag {
    float: left;
    padding: 5px;
    border: 1px solid white;
    margin-right: 5px;
    margin-bottom: 5px;
    display: block;
    .text-s;
}

[data-scroll-reveal] {
    // Hide before javascript loads but does not prevent images loading
    &:not([data-scroll-reveal-initialized]):not([data-scroll-reveal-disabled]) {
        visibility: hidden;
    }
}


@media @media_large {
    section {
        padding: 0 20px;

        .txt {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &.r {
            .img {
                background-position-x: right;
            }
        }

        &.hero {
            .in {
                padding-left: @gutter;
                padding-right: @gutter;
            }
        }
    }
}

@media @media_medium {
    section {
        height: auto !important;
        padding: 0;

        .txt, .img {
            position: relative;
            width: 100%;
            left: 0 !important;
        }

        .txt {
            padding: @gutter;
        }

        .img {
            position: relative;
            height: 480px;
        }
    }
}

@media @media_medium {
    section {
        &.hero .in, &.text .in, &.site-message .in, .txt {
            padding-left: (@gutter / 2);
            padding-right: (@gutter / 2);
        }
    }
}