﻿@import 'global';

.background-image(@name, @repeat: no-repeat, @extension: 'png', @svg: 0) {
    background-image: ~"url(/img/@{name}.@{extension})";
    & when (@svg = 1) {
        background-image: ~"url(/img/@{name}.svg)";
    }
    background-repeat: @repeat;

    @media @media_2x {
        background-image: ~"url(/img/@{name}@2x.@{extension})";

        & when (@svg = 1) {
            background-image: ~"url(/img/@{name}.svg)";
        }
    }
}

.box-shadow(@box-shadow) {
	-webkit-box-shadow: @box-shadow;
	   -moz-box-shadow: @box-shadow;
		-ms-box-shadow: @box-shadow;
		 -o-box-shadow: @box-shadow;
		    box-shadow: @box-shadow;
}

// https://gist.github.com/gefangenimnetz/3ef3e18364edf105c5af#file-materialdesignshadowhelper-less
.box-shadow-z(@level: 1){
    & when (@level = 1) {
        .box-shadow(~"0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)");
    }
    & when (@level = 2) {
        .box-shadow(~"0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)");
    }
    & when (@level = 3) {
        .box-shadow(~"0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)");
    }
    & when (@level = 4) {
        .box-shadow(~"0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)");
    }
    & when (@level = 5) {
        .box-shadow(~"0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)");
    }
}

.transition(@transition) {
	-webkit-transition: @transition;
	   -moz-transition: @transition;
	    -ms-transition: @transition;
	     -o-transition: @transition;
	        transition: @transition;
}

.transform(@transform) {
	-webkit-transform: @transform;
	   -moz-transform: @transform;
	    -ms-transform: @transform;
	     -o-transform: @transform;
	        transform: @transform;
}

.transition-transform(@duration, @function: 'ease') {
	-webkit-transition: -webkit-transform @duration @function;
	   -moz-transition:    -moz-transform @duration @function;
	    -ms-transition: 	-ms-transform @duration @function;
	     -o-transition: 	 -o-transform @duration @function;
	        transition: 	    transform @duration @function;
}
.transition-transform(@duration, @function, @otherTransition) {
	-webkit-transition: -webkit-transform @duration @function, @otherTransition;
	   -moz-transition:    -moz-transform @duration @function, @otherTransition;
	    -ms-transition: 	-ms-transform @duration @function, @otherTransition;
	     -o-transition: 	 -o-transform @duration @function, @otherTransition;
	        transition: 	    transform @duration @function, @otherTransition;
}