﻿@transition_default_fn: ease-in-out;
@transition_default_duration: 0.3s;

.default-transition(@properties) {
    .loop(length(@properties));
    .loop(@i) when (@i > 0) {
        @property: extract(@properties, @i);
        @transition: ~"@{property} @{transition_default_duration} @{transition_default_fn}";

        // + merges using a comma 🙂
	    -webkit-transition+: @transition;
	       -moz-transition+: @transition;
	        -ms-transition+: @transition;
	         -o-transition+: @transition;
	            transition+: @transition;

        .loop((@i - 1));
    }
}