﻿@font_family: 'proxima-nova', sans-serif;

@font_weight_thin:      100;
@font_weight_light:     300;
@font_weight_normal:    400;
@font_weight_medium:    500;
@font_weight_semibold:  600;
@font_weight_bold:      700;
@font_weight_ultrabold: 900;

@size_xl:     40;
@size_l:      20;
@size_m:      16;
@size_s:      14;
@size_xs:     12;
@size_xxs:    10;

@text_hero_1: 112;
@text_hero_2: 56;
@text_hero_3: 45;
@text_hero_4: 32;
@text_headline: 22; /* google says 24, we (proxima) say 22 */
@text_title: 20;
@text_subhead: 15; /* google says 16, we (proxima) say 15 */
@text_body: 14;
@text_caption: 12;

@base: 16; // Browser 100%

::selection {
    background: black;
    color: white;
}

html {
    color: @color_foreground;
    font: @font_weight_normal ~"@{text_body}px"/1.2 @font_family;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    font-size: 100%;
}

.font-size(@font_size) {
	@rem: (@font_size / @base);

	font-size: @font_size * 1px;
	font-size: ~"@{rem}rem";
}

.text-xl  { .font-size(@size_xl);  }
.text-l   { .font-size(@size_l);   }
.text-m   { .font-size(@size_m);   }
.text-s   { .font-size(@size_s);   }
.text-xs  { .font-size(@size_xs);  }
.text-xxs { .font-size(@size_xxs); }

.hero-1   { .font-size(@text_hero_1); }
.hero-2   { .font-size(@text_hero_2); }
.hero-3   { .font-size(@text_hero_3); }
.hero-4   { .font-size(@text_hero_4); }
.headline { .font-size(@text_headline); }
.title    { .font-size(@text_title); }
.subhead  { .font-size(@text_subhead); }
.body     { .font-size(@text_body); }
.caption  { .font-size(@text_caption); }

.text-thin      { font-weight: @font_weight_thin; }
.text-light     { font-weight: @font_weight_light; }
.text-normal    { font-weight: @font_weight_normal; }
.text-medium    { font-weight: @font_weight_medium; }
.text-semibold  { font-weight: @font_weight_semibold; }
.text-bold      { font-weight: @font_weight_bold; }
.text-ultrabold { font-weight: @font_weight_ultrabold; }

.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.lowercase { text-transform: lowercase; }

h1, h2 {
    .hero-4;
    .text-bold;
    color: @color_accent;
}
h3 { .text-l; }

p {
    margin-bottom: 1em;
}

.text {
     > ul, > p, > em {
        margin-bottom: 1em;
        display: block;
    }

    ul {
        padding-left: 2em;
        margin: 0.5em 0;
    }

    a {
        color: @color_accent;
    }

    img {
        max-width: 100%;
        height: auto !important;
    }
}