<?xml version='1.0' encoding='utf-8'?>  
  <configuration>  
    <connectionStrings>  
      <clear />  
      <add name="umbracoDbDSN"
       providerName="System.Data.SqlClient"
       connectionString="Server=.;Database=MyStudyLife_Umbraco;MultipleActiveResultSets=True;User Id=XXXXXX;Password=XXXXXX;" />  
    </connectionStrings>  
  </configuration>  