﻿#about-hero {
    .in {
        padding-top: 40px;
        padding-bottom: 120px;
    }

    .img {
        position: relative;
        height: auto;
        padding: 0 20px;

        .desk {
            position: relative;
            width: 100%;
            max-width: 1093px;
            height: 100%;
            margin: 0 auto;

            div {
                width: 100%;
                padding-bottom: 47.75%;
                .background-image('desk');
                background-size: 100% auto;
            }
        }
    }

    @media @query_short {
        .in {
            padding-bottom: 120px;
        }

        .img .desk {
            max-width: (1093px * 0.75);
        }
    }
}

#us {
    .map {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.3;
        pointer-events: none;

        iframe {
            position: absolute;
            left: 0;
            top: 0;
            width: 2000px;
            height: 2000px;
        }
    }

    .img {
        .marker {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 209px;
            height: 275px;
            margin-top: -137.5px;
            margin-left: -104.5px;
            display: block;
            .background-image('location');
            background-size: 100% auto;
        }

        @media @query_small {
            height: 360px;

            .marker {
                width: (209px * .75);
                height: (275px * .75);
                margin-top: (-137.5px * .75);
                margin-left: (-104.5px * .75);
            }
        }
    }

    .social {
        margin-top: 30px;

        a {
            width: 60px;
            height: 60px;
            margin-right: 20px;
            background-image: data-uri('image/svg+xml;base64', '../img/social.svg');
            background-repeat: no-repeat;
            background-size: 120px 60px; // IE bug, can't use auto with SVG?
            display: block;
            float: left;

            &:hover {
                opacity: 0.5;
            }

            &.facebook {
                background-position: 0 0;
            }
            &.twitter {
                background-position: -60px 0;
            }
        }
    }
}

#press {
    .img {
        .background-image('newspaper');
        background-position: left bottom;
        background-size: 506px 430px;

        @media @query_medium {
            height: 272px;
            padding-left: (@gutter / 2);
            padding-right: (@gutter / 2);
            background-size: auto 100%;
            -moz-background-origin: content-box;
            -webkit-background-origin: content-box;
            background-origin: content-box;
            background-position: center top;
        }
    }
}

#jobs {
    .img {
        .background-image('tie');
        background-position: center;
        background-size: 320px 400px;

        @media @query_medium {
            height: 360px;
            background-size: 240px auto;
            background-position: center;
        }
    }
}