﻿@import '../global';

#blog, #blog-post {
    .in {
        max-width: 1180px;
    }

    article {
        max-width: 880px;
        margin: 0 auto;
        padding: 0 @gutter 3em;

        &:not(:last-child) {
            margin-bottom: 3em;
            border-bottom: 1px solid @color_subtle;
        }
    }

    .post-title {
        text-decoration: none;

        h1 {
            margin-bottom: 0;
        }
    }

    .post-meta {
        margin-top: .3em;
        margin-bottom: 3em;
        text-align: center;
        color: @color_subtle_text;
    }

    .post-social {
        margin-top: 3em;
        margin-right: -45px;
        text-align: center;

        > div {
            min-width: 60px;
            height: 20px;
            display: inline-block;
            overflow: hidden;
            background: url('/img/social-controls-placeholder.png') no-repeat;

            &.twitter {
                background-position: 0 -20px;
            }
            &.google {
                min-width: 90px;
                background-position: 0 -40px
            }

            > div, > iframe {
                width: 100%;
                text-align: left;
            }
        }
    }

    @media @media_medium {
        article {
            padding-left: 0;
            padding-right: 0;
        }

        .post-title h1, .post-meta {
            text-align: left;
        }
    }
}

#blog {
    nav {
        max-width: 880px;
        margin: -10px auto 0;

        a {
            background-size: 15px 24px;
            background-repeat: no-repeat;
            line-height: 25px;
            text-decoration: none;
            .font-size(18);

            &.l {
                padding-left: 25px;
                background-position: left center;
                background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxNiI+PHBhdGggZmlsbD0iIzFjOGQ3NiIgZD0iTTEwLDBMMy40LDhsNi42LDhINi42TDAsOGw2LjYtOEgxMHoiIC8+PC9zdmc+');
                float: left;
            }
            &.r {
                padding-right: 25px;
                background-position: right center;
                background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxNiI+PHBhdGggZmlsbD0iIzFjOGQ3NiIgZD0iTTAsMTZsNi42LThMMCwwaDMuNEwxMCw4bC02LjYsOEgweiIgLz48L3N2Zz4=');
                float: right;
            }
        }
    }
}

// http://labs.jonsuh.com/responsive-video-embed/
.js-video {
    position: relative;
    height: 0;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 57.25%;
    overflow: hidden;

    &.ratio4-3 {
        padding-bottom: 67.5%;
    }

    &.vimeo {
        padding-top: 0;
    }

    embed, iframe, object, video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}
