﻿#error {    
    padding: @gutter;

    .buster {
        width: 100%;
        max-width: 356px;
        margin: (@gutter * 2) auto;
    }

    .btn {
        min-width: 200px;
        margin: 0 auto;
        display: table;
    }

    @media @query_small {
        padding-left: (@gutter / 2);
        padding-right: (@gutter / 2);

        .buster {            
            margin: @gutter auto;
        }

        .btn {
            display: block;
        }
    }
}