﻿@import '../mixins';

@school_height: 405px;
@ground_height: 255px;
@trees_height: 276px;
@trees_image_height: 556px;
@trees_width: 640px;
@lamp_height: 229px;
@lamp_offset_bottom: (@ground_height - 13px);
@hand_height: 479px;
@screenshot_width: 160px;
@screenshot_height: 285px;
@screenshot_offset_bottom: 154px;

.trees-background-repeat(@direction: 'left', @offset_bottom: 0, @width: @trees_width) {
    @offset_1: @width;
    @offset_2: @width * 2;

    background-position: ~"@{direction} 0 bottom @{offset_bottom}, @{direction} @{offset_1} bottom @{offset_bottom}, @{direction} @{offset_2} bottom @{offset_bottom}";
}

#hero {
    @ground_height: 255px;

    .school {
        bottom: @ground_height;
        width: 100%;
        height: @school_height;
        background-size: auto 100%;
        background-position: center center;
        z-index: 1;
        .background-image('school');
    }

    .trees {
        bottom: @ground_height;
        width: 100%;
        height: @trees_height;
        z-index: 2;

        .l, .r {
            position: absolute;
            top: 0;
            width: ~"calc(50% - 100px)";
            height: 100%;
            background-image: url('/img/trees.png'), url('/img/trees.png'), url('/img/trees.png');
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-size: auto @trees_image_height;

            @media @media_2x {
                background-image: url('/img/trees@2x.png'), url('/img/trees@2x.png'), url('/img/trees@2x.png');
            }
        }

        .l {
            left: 0;
            .trees-background-repeat('right', (@trees_image_height / -2));
        }

        .r {
            left: 50%;
            margin-left: 100px;
            .trees-background-repeat('left', 0);
        }
    }

    .ground {
        bottom: 0;
        width: 100%;
        height: @ground_height;
        background: #b3b3b3;
        z-index: 3;
    }


    .lamps {
        bottom: @lamp_offset_bottom;
        width: 100%;
        height: @lamp_height;
        z-index: 4;

        .l, .r {
            position: absolute;
            width: 30px;
            height: 100%;
            background-position: center center;
            background-size: auto 100%;
            .background-image('lamp');
        }

        .l {
            left: ~"calc(50% - 252px)";
        }
        .r {
            left: ~"calc(50% + 368px)";
        }
    }

    .hand {
        bottom: 0;
        width: 100%;
        height: 100%;
        background-position: center bottom;
        background-size: auto @hand_height;
        z-index: 5;
        .background-image('hand');

        .screenshot {
            position: absolute;
            bottom: @screenshot_offset_bottom;
            left: 50%;
            width: @screenshot_width;
            height: @screenshot_height;
            margin-left: (@screenshot_width / -2);
            background: white url('/img/phone-scr.png') no-repeat;
            background-size: 100%;
        }
    }
}

#features {
    .in {
        padding: 40px 0;
    }

    .features {
        width: 100%;
        margin: 0 auto;
        list-style: none;
        text-align: left;
    }

    .feature {
        position: relative;
        width: 50%;
        margin-top: 40px;
        padding-left: 200px;
        padding-right: 40px;
        float: left;
        display: block;

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            padding-left: 40px;
            .glyph;
            font-size: 112px;
            float: left;
        }

        &.scheduling:before { content: @glyph_schedule; }
        &.tasks:before { content: @glyph_task; }
        &.reminders:before { content: @glyph_reminder; }
        &.sync:before { content: @glyph_sync; }

        h3 {
            padding: 10px 0;
        }
    }
}

#platforms {
    .web {
        position: absolute;
        right: 86px;
        bottom: -2px;
        width: 548px;
        height: 399px;

        .screenshot {
            position: absolute;
            left: 1px;
            top: 56px;
            width: 547px;
            height: 349px;
            background: #ffffff url('/img/web-scr.png') no-repeat;
            background-size: 100% auto;
        }
    }

    .phone {
        position: absolute;
        bottom: -51px;
        right: 0;
        width: 170px;
        height: 357px;

        .screenshot {
            position: absolute;
            left: 5px;
            top: 23px;
            width: 160px;
            height: 283px;
            background: black url('/img/phone-scr.png') no-repeat;
            background-size: 100% auto;
        }
    }

    .web, .phone {
        img {
            width: 100%;
            height: auto;
        }
    }

    .platform-icons {
        margin-top: 20px;

        a {
            width: 48px;
            height: 48px;
            background: url('/img/platforms.svg') no-repeat;
            background-size:  192px 48px;
            margin-right: 20px;
            display: block;
            float: left;

            &:hover {
                opacity: 0.5;
            }

            &.apple { background-position: 0 0; }
            &.android { background-position: -48px 0; }
            &.windows { background-position: -96px 0; }
            &.chrome { background-position: -144px 0; }
        }

    }
}

#sync {
    @clouds_width: 397px;
    @clouds_height: 167px;
    @buster_width: 356px;//398px
    @buster_height: 215px;//246px

    .clouds {
        position: absolute;
        left: -72px;
        top: 53px;
        width: @clouds_width;
        height: @clouds_height;
        .background-image('clouds');
        background-size: 100%;
    }

    .buster {
        position: absolute;
        right: 0;
        bottom: 38px;
        width: @buster_width;
        height: @buster_height;
        .background-image('buster');
        background-size: 100%;

        &:hover {
            .background-image('buster-tongue');
        }
    }

    @media @query_medium {
        .clouds {
            left: 33px;
        }
        .buster {
            right: 45px
        }
    }

    @media @query_small {
        @ratio: 0.75;

        .clouds {
            top: 81px;
            left: 50%;
            margin-left: ((@clouds_width * @ratio) / -2);
            width: (@clouds_width * @ratio);
            height: (@clouds_height * @ratio);
        }

        .buster {
            left: 50%;
            margin-left: ((@buster_width * @ratio) / -2);
            width: (@buster_width * @ratio);
            height: (@buster_height * @ratio);
        }
    }
}

#feedback {
    padding: 40px 0;

    .in {
        min-height: 400px; // default 480px minus padding on parent
    }

    .in > p {
        padding-left: 20px;
        padding-right: 20px;
    }

    &:hover {
        .nav {
            opacity: 1;
        }
    }

    .reviews-wrapper {
        position: relative;
        padding: 80px 0;

        &:before {
            position: absolute;
            left: -100%;
            right: 100%;
            top: 0;
            bottom: 0;
            content: " ";
            background: rgba(255,255,255,0.5);
            z-index: 1;
        }

        &:after {
            position: absolute;
            left: 100%;
            right: -100%;
            top: 0;
            bottom: 0;
            content: " ";
            background: rgba(255,255,255,0.5);
            z-index: 1;
        }
    }

    .reviews {
        position: relative;
        width: 1000%;
        .transition-transform(.6s, cubic-bezier(0.165, 0.840, 0.440, 1.000));
        -webkit-tap-highlight-color: none;
    }

    .nav {
        position: absolute;
        top: 40px;
        bottom: 40px;
        width: 40px;
        display: block;
        cursor: pointer;
        background: rgba(0,0,0,0.5) no-repeat center;
        background-size: 24px auto;
        opacity: 0;
        .transition(opacity ease-in-out 0.3s);
        z-index: 2;
        .unselectable;

        &.l {
            left: -40px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxNiI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTEwLDBMMy40LDhsNi42LDhINi42TDAsOGw2LjYtOEgxMHoiLz48L3N2Zz4=') /*/img/arrow-left.svg*/;
        }

        &.r {
            right: -40px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxNiI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTAsMTZsNi42LThMMCwwaDMuNEwxMCw4bC02LjYsOEgweiIvPjwvc3ZnPg==') /*/img/arrow-right.svg*/;
        }
    }

    .touch-nav {
        display: none;
        margin: 30px 20px 0;

        a {
            width: 30px;
            height: 44px;
            padding: 10px;
            margin: 0 10px;
            display: inline-block;
            background-size: 15px 24px;
            background-repeat: no-repeat;
            -moz-background-origin: content-box;
            -webkit-background-origin: content-box;
            background-origin: content-box;
            cursor: pointer;
            .unselectable;

            &.disabled {
                opacity: 0.5;
            }

            &.l {
                background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxNiI+PHBhdGggZmlsbD0iIzFjOGQ3NiIgZD0iTTEwLDBMMy40LDhsNi42LDhINi42TDAsOGw2LjYtOEgxMHoiIC8+PC9zdmc+');
            }
            &.r {
                background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxNiI+PHBhdGggZmlsbD0iIzFjOGQ3NiIgZD0iTTAsMTZsNi42LThMMCwwaDMuNEwxMCw4bC02LjYsOEgweiIgLz48L3N2Zz4=');
            }
        }
    }

    article {
        width: (10/3%);
        padding: 0 40px;
        float: left;
        text-align: left;

        p {
            padding-bottom: 20px;
        }

        strong {
            display: block;
        }
    }
}

#pricing {
    background-position: center;
    background-size: 1147px 224px;
    .background-image('confetti', repeat);
    .transition(background-position cubic-bezier(0.165, 0.840, 0.440, 1.000) 1s);

    h2 {
        padding: 81px 0;
    }
}

#schools {
    .img {
        .background-image('schools');
        background-size: 481px 377px;
        background-position: center bottom;
    }
}

#continue {
    .in {
        padding: 40px 0;
    }

    .options {
        padding-top: 20px;
        display: inline-block;

        a.btn {
            min-width: 200px;
            margin: 0 40px;
            float: left;
        }
    }
}

@media @query_short {
    @ratio: 0.75;

    #hero {
        .in {
            padding-bottom: 510px;
        }

        .img {
            height: 510px;
        }

        .school {
            bottom: (@ground_height * @ratio);
            height: (@school_height * @ratio);
        }

        .trees {
            bottom: (@ground_height * @ratio);
            height: (@trees_height * @ratio);

            .l, .r {
                background-size: auto (@trees_image_height * @ratio)
            }

            .l {
                .trees-background-repeat('right', ((@trees_image_height * @ratio) / -2), (@trees_width * @ratio));
            }
            .r {
                .trees-background-repeat('left', 0, (@trees_width * @ratio));
            }
        }

        .ground {
            height: (@ground_height * @ratio);
        }

        .lamps {
            bottom: (@lamp_offset_bottom * @ratio);
            height: (@lamp_height * @ratio);
        }

        .hand {
            background-size: auto (@hand_height * @ratio);

            .screenshot {
                bottom: (@screenshot_offset_bottom * @ratio);
                width: (@screenshot_width * @ratio);
                height: (@screenshot_height * @ratio);
                margin-left: ((@screenshot_width * @ratio) / -2);
            }
        }
    }
}

@media @query_large {
    #feedback {
        .reviews-wrapper {
            padding-bottom: 20px;
        }

        .nav {
            display: none;
        }

        .touch-nav {
            display: block;
        }
    }
}

@media @query_medium {
    #features {
        h2 {
            padding: 0 20px;
        }

        .feature {
            width: 100%;
            float: none;
            margin-top: 40px;
            padding-left: 120px;
            padding-right: @gutter_mobile;

            &:before {
                padding-left: @gutter_mobile;
                font-size: 80px
            }
        }
    }

    #platforms {
        .img {
            height: 400px;
        }

        .web {
            right: (86px + 40px);
        }

        .phone {
            right: 40px;
        }
    }

    #feedback {
        .in {
            min-height: 0;
        }

        .reviews {
            width: 1500%;
        }
    }

    #schools {
        .img {
            height: 400px;
        }
    }

    #continue {
        .options {
            a.btn {
                margin: 0 20px;
            }
        }
    }
}

@media @query_small {
    #feedback {
        .reviews-wrapper {
            padding-bottom: 0;
        }

        .reviews {
            width: 3000%;
        }

        article {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    #schools {
        .img {
            height: auto;
            padding-top: (@gutter / 2);
            padding-bottom: 79%;
            background-position: right (@gutter / 2) bottom 0;
            background-size: 100% auto;
        }
    }


    #continue {
        .options {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;

            a.btn {
                width: 100%;
                margin: 20px 0 0;
                display: block;
            }
        }
    }
}