﻿.legal {
    @tab_indent: 2.5em;

    ol {
        counter-reset: section;

        li {
            position: relative;
            margin-left: @tab_indent;
            margin-bottom: .5em;
            list-style: none;

            h3 {
                margin-bottom: .5em;
            }

            &:before {
                position: absolute;
                left: (0 - @tab_indent);
                content: counter(section, decimal) ". ";
                counter-increment: section;
                font-weight: bold;
            }

            li {
                margin-left: 0;

                &:before {
                    content: counters(section, ".") " ";
                    font-weight: normal;
                }
            }
        }

        &[type=a], &[type=i] {
            margin-left: @tab_indent;
            margin-top: .5em;
            margin-bottom: 1em;
            counter-reset: list;

            li {
                list-style: none;

                &:before {
                    counter-increment: list;
                }
            }
        }

        &[type=a] li:before {
            content: "(" counter(list, lower-alpha) ") ";
        }

        &[type=i] li:before {
            content: "(" counter(list, lower-roman) ") ";
        }
    }

    p.updated {
        font-style: italic;
        margin-top: 2em;
    }
}