﻿@import '../global';
@import '../mixins';

#schools-hero {
    @chalkboard_width: 764px;
    @chalkboard_height: 502px;

    .in {
        padding-bottom: 40px;
    }

    .img {
        position: relative;
        height: auto;
    }

    .classroom {
        position: relative;
        width: 69.85vw;//59.6875vw;
        //height: 100%;
        max-width: @chalkboard_width;
        margin: 0 auto;
        //margin-bottom: 186px;
        //padding-bottom: 10.1%;

        &::after {
            height: 11.140625vw;
            content: " ";
            display: block;
            min-height: 114px;
            max-height: 150px;
        }
    }

    .chalkboard {
        position: relative;
        width: 100%;
        min-width: 410px;
        margin: 0 auto;

        img {
            position: static;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;
            z-index: 0;
            display: block;
        }

        .chalk {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            .background-image('chalkboard-schools-chalk');
            background-position: center;
            background-size: 100% auto;
            border-color: transparent;
            border-style: none solid;
            z-index: 1;
        }
    }

    .teacher {
        position: absolute;
        right: ~"calc(100% + 32px)";//~"calc(50% - @{chalkboard_width})";
        bottom: 0;
        width: 27.421875vw;
        height: 35vw;
        min-width: 212px;
        min-height: 271px;
        max-width: 351px;
        max-height: 449px;
        .background-image('teacher');
        background-size: 100%;
        z-index: 2;
    }

    .bin {
        position: absolute;
        left: ~"calc(100% + 21px)";//~"calc(50% + @{left_offset})";
        bottom: 0;
        width: 13.4375vw;
        height: 12.890625vw;
        min-width: 104px;
        min-height: 100px;
        max-width: 172px;
        max-height: 165px;
        .background-image('planner-bin');
        background-size: 100%;
    }

    @media screen and (max-width: 1545px) {
        .classroom {
            position: static;
        }

        .teacher {
            left: 0;
        }

        .bin {
            left: ~"calc(((100% - 764px) / 2) + 764px + 16px)";
        }
    }

    @media @query_large {
        .classroom {
            position: static;
        }

        .teacher {
            left: 0;
        }

        .bin {
            left: auto;
            right: 0;
        }

        .img {
            padding: 0 130px;
        }
    }

    @media @query_small {
        .img {
            height: 383px;
        }

        .chalkboard {
            position: absolute;
            right: -40px;
            width: 410px;
            height: auto;
            padding: 0;

            img {
                position: relative;
            }

            .chalk {
                position: absolute;
                top: 0;
            }
        }

        .teacher {
            left: -38px;
            width: 212px;
            height: 271px;
        }
    }
}

#punctuality {
    .img {
        .clock {
            position: absolute;
            width: 100px;
            height: 100px;
            .background-image('clock');
            background-size: 100%;
            top: 47px;
            left: 20px;
        }

        .simon {
            position: absolute;
            left: 217px; //196px;
            bottom: 47px;
            width: 169px;
            height: 403px;
            // No 2x, we're just using a large png as it wasn't originally a vector and
            // you can see that if we scale it down in Photoshop
            background: url('/img/simon.png') no-repeat;
            background-size: 100%;
        }
    }

    @media @query_medium {
        .img .clock {
            left: 40px;
            top: 7px;
        }
    }

    @media @query_small {
        // 75%

        .img {
            height: 360px;

            .clock {
                left: 20px;
                top: 0;
                width: 75px;
                height: 75px;
            }

            .simon {
                right: 20px;
                left: auto;
                width: 127px;
                height: 302px;
            }
        }
    }
}

#excuses {
    @buster_width: 512px;
    @buster_height: 310px;

    .buster {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: @buster_width / -2;
        margin-top: @buster_height / -2;
        width: @buster_width;
        height: @buster_height;
        max-width: 100%;
        .background-image('buster-schools');
        background-size: 100%;
    }

    @media @query_medium {
        .img {
            height: auto;
        }

        .buster {
            position: relative;
            margin: 0 auto;
            left: auto;
            top: auto;
            width: ~"calc(100% - 80px)";
            height: auto;
            max-width: 512px;
            padding-bottom: 51.3%;
            margin-bottom: 40px;
        }
    }

    @media @query_small {
        .buster {
            width: ~"calc(100% - 40px)";
        }
    }
}

#attainment {
    .img {
        width: 50%;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: calc(-256px);
            margin-top: -156px;
            display: block;
        }

        @media @query_medium {
            width: 100%;
            height: auto;

            img {
                position: static;
                left: auto;
                top: auto;
                width: 100%;
                max-width: 512px;
                margin: 0 auto;
                padding: 0 40px;
                margin-bottom: 40px;
            }
        }

        @media @query_small {
            img {
                padding: 0 20px;
            }
        }
    }
}

#students {
    .reviews-wrapper {
        position: relative;
        height: 100%;
        width: 72.73%;
        margin-left: 18%;
    }

    .reviews {
        position: absolute;
    }

    article.review {
        position: relative;
        margin: 40px 0;
        padding: 15px;
        border: 10px solid rgba(0,0,0,0.1);

        strong {
            display: block;
        }

        &:nth-child(odd) {
            &:after {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                content: " ";
                background: rgba(255,255,255,0.5);
                z-index: 1;
            }
        }
    }

    @media @query_medium {
        .img {
            height: auto;
            padding-bottom: 40px;
            overflow: hidden;
        }

        .reviews-wrapper {
            position: relative;
            width: ~"calc(100% - 80px)";
            margin: 0 auto;
        }

        .reviews {
            position: relative;
            left: ~"calc(-75% + 40px)";
            top: 0 !important;
            width: ~"calc(225% + 80px)";
        }

        article.review {
            width: ~"calc((100% / 3) - 40px)";
            margin: 0 40px 0 0;
            float: left;
        }
    }

    @media @query_small {
        .reviews-wrapper {
            width: ~"calc(100% - 40px)";
        }

        .reviews {
            width: ~"calc(225% + 40px)";
            left: ~"calc(-75% + 20px)";
        }

        article.review {
            width: ~"calc((100% / 3) - 20px)";
            margin: 0 20px 0 0;
        }
    }
}

#custom-branding {

    .phone {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        max-width: 286px;
        height: 439px;
        margin-left: 286px / -2;

        img {
            width: 100%;
        }

        .screenshot {
            position: absolute;
            left: 9px;
            top: 38px;
            width: 269px;
            height: 401px;
            background: black url('/img/phone-reminder-scr.png') no-repeat;
            background-size: 100% auto;
        }
    }

    @media @query_small {
        .img {
            height: auto;
        }

        .phone {
            position: relative;
            left: auto;
            max-width: 228px;
            height: 350px;
            margin: 0 auto;

            .screenshot {
                left: 8px;
                top: 31px;
                width: 213px;
                height: 336px;
            }
        }
    }
}

#get-in-touch, #promo-form {
    background: url(/img/trees.png) repeat-x;
    background-position: center bottom -277px;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255,255,255,0.5);
        content: " ";
        width: 100%;
        height: 100%;
    }

    ::-webkit-input-placeholder {
        color: white;
    }

    ::-moz-placeholder {
        color: white;
    }

    :-ms-input-placeholder {
        color: white;
    }

    :-moz-placeholder {
        color: white;
    }

    .in {
        overflow: hidden;
    }

    .txt {
        float: left;
    }

    .img {
        position: relative;
        left: auto;
        width: 50%;
        float: right;
    }

    .form {
        padding: 80px 0;

        i {
            .text-s;
            color: @color_subtle_text;
            padding-bottom: 20px;
            display: block;

            a {
                color: @color_subtle_text;

                &:hover {
                    color: @color_accent;
                }
            }
        }

        fieldset {
            max-width: none; // Override styling from hubspot
            padding-bottom: 20px;

            ul.hs-error-msgs {
                list-style: none;
                .text-s;
                color: red;
            }

            li.opt {
                display: block;
                .text-m;
                margin-bottom: 4px;
                margin-left: 1em;

                input[type="checkbox"] {
                    margin-right: .3em;
                    margin-top: 3px;
                    display: block;
                    float: left;
                }

                em {
                    font-style: normal;
                    cursor: default;
                    .unselectable;
                }
            }
        }

        .hs-form-checkbox {
            > div > label {
                padding-bottom: 4px;
            }

            label > input[type=checkbox] {
                float: left;
            }
        }

        .hs-form-field > label {
            padding-bottom: 6px;
            display: block;
            .text-m;
            color: @color_foreground_mid;

            input {
                margin-right: .3em;
                margin-top: 3px;
                margin-left: 1em;
            }
        }

        input:not([type=checkbox]):not([type=radio]):not([type=submit]), select, textarea {
            width: 100%;
            padding: 6px;
            border: 1px solid @color_subtle;
            font-family: proxima-nova,sans-serif;
            font-size: 1pc;
            -webkit-appearance: none;
            border-radius: 0;
            background: white;

            &:focus {
                border-color: @color_accent;
            }
        }

        textarea {
            min-height: 100px;
            resize: none;
        }

        .input-row.submit {
            display: none;
        }
        // iframe body has a white background
        .input-row.recaptcha > div > div {
            width: 302px !important;
            height: 76px !important;
            overflow: hidden;
        }

        &.recaptcha-verified {
            .recaptcha {
                display: none;
            }

            .submit {
                display: block;
            }
        }

        &.submitting {
            pointer-events: none;
        }
    }

    .in.form-thanks .txt {
        text-align: center;
        width: 100%;
    }

    @media @query_medium {
        .img {
            height: auto;
            width: 100%;
        }

        .form {
            padding: 0 20px 20px;
        }
    }
}

#promo-form {
    .hbspt-form {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px 0;
        text-align: left;
    }

    .in.form-thanks {
        padding: 40px 0 240px;
    }
}