﻿@import '../global';
@import '../typography';
@import '../transitions';

@lecture_width: 166px;

#tour-hero {
    @lecture_width: 166px;
    @lecture_height: 674px;
    @chalkboard_width: 764px;
    @chalkboard_height: 502px;

    .lecture {
        width: 100%;
        height: 100%;
        padding: 0 @lecture_width + 20px;

        .l, .r {
            position: absolute;
            bottom: 0;
            width: @lecture_width;
            height: @lecture_height;
            .background-image('lecture');
            background-size: auto 100%;
        }
        .l {
            left: 0;
            background-position: right;
        }
        .r {
            right: 0;
            background-position: left;
        }

        .b {
            display: none;
        }

        .chalkboard {
            position: relative;
            width: 100%;
            max-width: @chalkboard_width;
            height: @chalkboard_height;
            margin: 0 auto;

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: auto;
                z-index: 0;
            }

            .chalk {
                position: relative;
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
                padding-bottom: 65.7%;
                .background-image('chalkboard-chalk');
                background-position: center;
                background-size: 100% auto;
                border-color: transparent;
                border-style: none solid;
                border-width: 0 20px;
                z-index: 1;
            }
        }
    }

    @media @query_short {
        @ratio: 0.75;

        .in {
            padding-bottom: 524px;
        }

        .img {
            height: 494px;
        }

        .lecture {
            .l, .r {
                height: (@lecture_height * @ratio);
            }

            .chalkboard {
                max-width: (@chalkboard_width * @ratio);
                height: (@chalkboard_height * @ratio);
            }
        }
    }
}

#tour-nav {
    @tour_nav_height: 64px;

    height: @tour_nav_height;
    padding: 0 80px;
    background: @color_foreground;
    overflow: hidden;

    a {
        height: @tour_nav_height;
        line-height: @tour_nav_height;
        margin-right: 20px;
        padding-right: 20px;
        display: block;
        float: left;
        text-decoration: none;
        color: white;
        opacity: @interaction_opacity;
        .default-transition(opacity);

        &.current, &:hover {
            opacity: 1;
        }

        &:last-child {
            margin-right: 0;
            padding-right: 0;
        }

        &:before {
            line-height: @tour_nav_height;
            padding-right: 10px;
            float: left;
            font-size: 32px;
        }
    }

    @media @query_large {
        padding: 0 20px;
    }

    @media @query_medium {
        padding: 0;

        .in {
            padding: 0 10px;
        }

        a {
            width: 100%/3;
            line-height: normal;
            margin: 0;
            padding: 8px !important;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            .font-size(@text_body);

            &:before {
                display: block;
                padding: 0 0 5px;
                line-height: normal;
                float: none;
                font-size: 24px;
            }
        }
    }
}

.tour-items, .tour-item {
    width: 100%;
}

.tour-item {
    &:not(.current) {
        display: none;
    }

    &.current {
        -webkit-animation-name: fadeIn;
        -moz-animation-name: fadeIn;
        -o-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: .5s;
        -moz-animation-duration: .5s;
        -o-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

// Scheduling
#calendar {
    .img {
        @uniform_width: 437px;
        @uniform_height: 465px;
        @calendar_bottom: -24px;
        @calendar_left: 345px;
        @calendar_width: 255px;
        @calendar_height: 253px;

        > div {
            position: absolute;
            width: 649px;
            // width: 540px;
            height: 100%;
            right: 0;
        }

        .uniform {
            position: absolute;
            bottom: 0;
            width: @uniform_width;
            height: @uniform_height;
            .background-image('uniform');
            background-size: 100%;
        }

        .calendar {
            position: absolute;
            bottom: @calendar_bottom;
            left: @calendar_left;
            width: @calendar_width;
            height: @calendar_height;
            .background-image('calendar');
            background-size: 100%;
        }

        @media @query_large {
            > div {
                width: 589px;
            }
        }

        @media @query_medium {
            > div {
                left: @gutter;
            }
        }

        @media @query_small {
            @ratio: 0.5;

            height: (@uniform_height * @ratio);

            > div {
                left: 0;
            }

            .uniform {
                width: (@uniform_width * @ratio);
                height: (@uniform_height * @ratio);
            }

            .calendar {
                bottom: (@calendar_bottom * @ratio);
                left: (@calendar_left * @ratio);
                width: (@calendar_width * @ratio);
                height: (@calendar_height * @ratio);
            }
        }
    }
}

#rotation-schedules {
    .img {
        .arrows {
            width: 100%;
            max-width: 430px;
            height: 100%;
            margin: 0 auto;
            .background-image('rotation-arrows');
            background-position: center;
            background-size: 100% auto;
        }

        @media @query_medium {
            height: auto;
            padding: 0 20px 40px;

            .arrows {
                height: auto;
                padding-bottom: 79.8%;
            }
        }
    }
}

#holidays {
    .img {
        position: absolute;
        right: 41%;
        left: auto;
        bottom: 0;
        width: 74%;
        max-width: 969px;
        height: auto;
        .background-image('beach');
        background-position: bottom;
        background-size: 100%;
    }

    @media @query_medium {
        .img {
            right: 0;
            width: 100%;
            background-size: 158% auto;
        }

        .txt {
            padding-bottom: 60%;
        }
    }
}

// Tasks
#todo-list {
    .img {
        .todo-list {
            width: 100%;
            max-width: 303px;
            height: 100%;
            margin: 0 auto;
            .background-image('todo-list');
            background-position: center;
            background-size: 100% auto;
        }

        @media @query_medium {
            width: 100%;
            max-width: 303px;
            height: auto;
            margin: 0 auto;
            padding: 0 20px 40px;

            .todo-list {
                height: auto;
                padding-bottom: 143.2%;
            }
        }
    }
}

#tasks-at-a-glance {
    .img {
        .planner {
            width: 100%;
            max-width: 472px;
            height: 100%;
            margin: 0 auto;
            .background-image('planner');
            background-position: center;
            background-size: 100% auto;
        }

        @media @query_medium {
            width: 100%;
            max-width: 472px;
            height: auto;
            margin: 0 auto;
            padding: 0 20px 40px;

            .planner {
                height: auto;
                padding-bottom: 77.1%;
            }
        }
    }
}

#revision-tasks {
    .img {
        .calendar {
            width: 100%;
            max-width: 459px;
            height: 100%;
            margin: 0 auto;
            .background-image('revision-tasks');
            background-position: bottom;
            background-size: 100%;
        }

        @media @query_medium {
            width: 100%;
            max-width: 459px;
            height: auto;
            margin: 0 auto;
            padding: 0 20px 0;

            .calendar {
                height: auto;
                padding-bottom: 93.9%;
            }
        }
    }
}

// Everything else
#reminders {
    .img {
        .clock {
            position: absolute;
            width: 100px;
            height: 100px;
            .background-image('clock');
            background-size: 100%;
            top: 47px;
            left: 20px;
        }

        .phone {
            position: absolute;
            bottom: -5px;
            left: 178px;
            width: 100%;
            max-width: 228px;
            height: 372px;

            img {
                width: 100%;
            }

            .screenshot {
                position: absolute;
                left: 8px;
                top: 31px;
                width: 213px;
                height: 336px;
                background: black url('/img/phone-reminder-scr.png') no-repeat;
                background-size: 100% auto;
            }
        }

        @media @query_small {
            .clock {
                left: 23px;
                top: 0;
            }

            .phone {
                left: 139px;
            }
        }
    }
}

#whenever-wherever {
    .img {
        .background-image('poster');
        background-position: center;
        background-size: 240px 333px;

        @media @query_small {
            height: 360px;
            background-position: center top;
        }
    }
}

#msl {
    height: 590px;
    padding: 40px 0;

    h2 {
        margin-bottom: 20px;
    }

    p {
        max-width: 840px;
        margin: 0 auto;
        padding-left: (@gutter / 2);
        padding-right: (@gutter / 2);
    }

    .icons, a.btn {
        display: table;
        margin: 0 auto;
    }

    .icons > div {
        width: 200px;
        margin-top: 70px;
        margin-bottom: 80px;
        padding: 0 20px;
        font-size: 160px;
        float: left;
    }

    a.btn {
        min-width: 200px;
    }
}

@media @media_large {
    @new_lecture_width: @lecture_width * (2/3);

    #tour-hero {
        .lecture {
            padding: 0 (@new_lecture_width + 20px);

            .l, .r {
                width: @new_lecture_width;
            }
        }
    }
}

@media @media_medium {
    #tour-hero {
        .lecture {
            padding: 0 20px;

            .chalkboard {
                max-width: 564px;
                background-position-y: top;
            }

            .l, .r {
                background-position-y: 330px;
            }
        }
    }

    #msl {
        .icons> div {
            width: 150px;
            font-size: 128px;
        }
    }
}

@media @media_small {
    #tour-hero {
        .in {
            padding-bottom: 540px;
        }

        .img {
            height: 484px;
        }

        .lecture {

            .l, .r {
                display: none;
            }

            .chalkboard {
                width: 281px;
                height: 224px;
            }

            .b {
                display: block;
                width: 281px;
                height: 260px;
                margin: 0 auto;
                background: url('/img/lecture.png') no-repeat center top;
                background-size: 100% auto;
            }
        }
    }

    #msl {
        .icons> div {
            width: 100px;
            padding: 0;
            font-size: 80px;
        }

        a.btn {
            display: block;
            margin: 0 20px;
        }
    }
}