@import '../global';

.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 40px;
    background: @color_accent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 99999;
}

.cookie-banner-inner {
    position: relative;
    max-width: @content_width;
    margin: 0 auto;
}

button.cookie-banner-agree {
    min-width: 90px;
    padding: 10px;    
}

.cookie-banner-learn-more {
    padding: 10px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .cookie-banner {
        padding-left: @gutter_s;
        padding-right: @gutter_s;
    }
}