﻿@model MyStudyLife.Umbraco.Models.BlogPostModel

<article itemscope itemtype="http://schema.org/BlogPost">
    <a class="post-title" href="@(Model.Content.Url)" itemprop="url">
        <h1 itemprop="name">@(Model.ContentTitle)</h1>
    </a>
    <p class="post-meta">
        Posted by <span itemprop="author">@(Model.PostedBy)</span>
        on <time pubdate itemprop="datePublished" datetime="@(Model.PostedOn.ToString("O"))">@(Model.PostedOn.ToString("D"))</time>
    </p>
    <div class="post-content" itemprop="description">
        @(Model.ContentHtml)
    </div>
    <div class="post-social">
        <div class="facebook">
            <div class="fb-like" data-href="@(Model.Content.UrlWithDomain())" data-width="90" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
        <div class="twitter">
            <a href="@(Model.Content.UrlWithDomain())" class="twitter-share-button" data-via="mystudylife" data-related="mystudylife"></a>
        </div>
    </div>
</article>