﻿@using Umbraco.Core.Services
@model Umbraco.Web.Models.RenderModel
@functions {
    private IContentTypeService _cts = UmbracoContext.Current.Application.Services.ContentTypeService;
}
@helper Traverse(IPublishedContent parent) {
    var children = parent.Children.Where(x =>
        !x.GetPropertyValue<bool>("noIndex") &&
        x.IsVisible() && _cts.GetContentType(x.DocumentTypeId).ContentTypeCompositionExists("base")
    ).OrderBy(x => x.SortOrder);

    foreach (var page in children) {
        @Output(page)
        @Traverse(page)
    }
}
@helper Output(IPublishedContent page) {
    <url>
        <loc>@(page.UrlWithDomain())</loc>
        <lastmod>@(page.UpdateDate.ToString("yyyy-MM-ddThh:mm:sszzz"))</lastmod>
    </url>
}
<?xml version="1.0" encoding="UTF-8" ?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"> 
    @Output(Model.Content)
    @Traverse(Model.Content)
</urlset>