﻿@model MyStudyLife.Umbraco.Models.BaseModel
<!DOCTYPE html>

<html>
<head prefix ="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <title>@(Model.PageTitle)</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    @if (Model.HasPageDescription) {
        <meta name="description" content="@(Model.PageDescription)" />
    }

    <meta property="og:image" content="@(Model.UrlWithDomain("/img/og-image.png"))" />
    <meta property="fb:app_id" content="465146216832231" />
    <meta name="msApplication-ID" content="39976Virblue.MyStudyLife" />
    <meta name="msApplication-PackageFamilyName" content="39976Virblue.MyStudyLife_pa3njxwv09jym" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="theme-color" content="#1c8d76" />

    @RenderSection("MetaTags", false)

    <link rel="shortcut icon" href="/favicon.ico" type="image/ico">

    @if (Request.IsLocal) {
        <link rel="stylesheet/less" type="text/css" href="/less/main.less" />
    }
    else {
        <link rel="stylesheet" type="text/css" href="@(Model.CacheBust("/css/main.min.css"))" />
    }

    <script type="text/javascript" src="https://use.typekit.com/dxy4ykg.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
</head>
<body itemscope itemtype="http://schema.org/WebPage">
    <div id="fb-root"></div>

    <header>
        <div class="in cf">
            @if (Model.Content.Level > 1) {
                <a class="logo" href="/"></a>
            }
            else {
                <div class="logo"></div>
            }
            <a id="nav-toggle"></a>
            <nav>
                <a href="/tour">Tour</a>
                <a href="/blog">Blog</a>
                <a href="/about">About</a>
                @if (Model.ShowSignInButton) {
                    <a class="alt" href="https://app.mystudylife.com?utm_source=mystudylife&utm_medium=sign-in&utm_campaign=mystudylife.com">Sign In</a>
                }
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="in">
            <div class="social cf">
                <a class="facebook" href="https://www.facebook.com/mystudylife" target="_blank"></a>
                <a class="twitter" href="https://www.twitter.com/mystudylife" target="_blank"></a>
            </div>
            <nav class="main">
                <a href="/blog">Blog</a>
                <a href="https://mystudylife.workable.com">Jobs</a>
                <a href="/about#press">Press</a>
                <a href="/about">About</a>
                <a href="/terms-of-service">Terms of Service</a>
                <a href="/privacy-policy">Privacy Policy</a>
                <a href="http://feedback.mystudylife.com">Help + Feedback</a>
            </nav>
            <div class="author cf">
                Handcrafted by My Study Life, Ltd. in the UK
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    @if (Request.IsLocal) {
        <script>
            less = {
                env: 'development',
                logLevel: 2
            };
        </script>
        <script src="/node_modules/less/dist/less.min.js"></script>
        <script src="/js/bundle.js"></script>
        
        <script>
            msl.gainCookieConsent(null);
        </script>
    }
    else {
        <script src="@(Model.CacheBust("/js/bundle.min.js"))"></script>
        <script>
            msl.gainCookieConsent('.mystudylife.com');
        </script>
    }

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-22456359-2', 'www.mystudylife.com');
        ga('send', 'pageview');

        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "f45641db-6744-431e-b0a9-db845dc0de5c"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>

    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=362649814068623&ev=PageView&noscript=1" />
    </noscript>

    @RenderSection("Scripts", false)
</body>
</html>
