﻿@inherits UmbracoViewPage<MyStudyLife.Umbraco.Models.AboutModel>

@{
    Layout = "~/Views/_Base.cshtml";
}

<section id="about-hero" class="hero">
    <div class="in">
        <h1>@(Model.ContentTitle)</h1>
        <p>@(Model.HeroText)</p>
    </div>
    <div class="img">
        <div class="desk" data-scroll-reveal="enter bottom move 200px over .5s">
            <div></div>
        </div>
    </div>
</section>
<section id="us" class="alt">
    <div class="map">
        <iframe width="2000" height="2000" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?center=51.5377757,-1.675647&zoom=9&key=AIzaSyCTt21cu3FtJOocwF-fyFuhNBV6Tz-Hp9Q"></iframe>
    </div>
    <div class="in">
        <div class="txt">
            <h2>About us</h2>
            <p>We're a rapidly growing company based Aldershot, Hampshire, UK.</p>
            <p>Our mission is to help improve students' lives and education through organisation.</p>
            <div class="social cf">
                <a class="facebook" href="https://www.facebook.com/mystudylife" target="_blank"></a>
                <a class="twitter" href="https://www.twitter.com/mystudylife" target="_blank"></a>
            </div>
        </div>
        <div class="img">
            <div class="marker"></div>
        </div>
    </div>
</section>
<section id="history" class="text">
    <div class="in">
        <h1>The story</h1>
        <div>
            @(Model.HistoryHtml)
        </div>
    </div>
</section>
<section id="press" class="alt r">
    <div class="in">
        <div class="txt cf">
            <h2>Press</h2>
            <p>Interested? We'd love to help you out. All enquiries to press@mystudylife.com please.</p>
            <a class="btn light" href="mailto:press@mystudylife.com">Get in touch</a>
        </div>
        <div class="img" data-scroll-reveal="enter bottom move 200px over .5s"></div>
    </div>
</section>
<section id="jobs" class="l">
    <div class="in">
        <div class="txt cf">
            <h2>Working at My Study Life</h2>
            <p>Want to help us continue the story?</p>
            <small class="cf">*Don't worry, you don't have to wear a tie (unless you want to)!</small>
            <a class="btn" href="https://mystudylife.workable.com">View current openings</a>
        </div>
        <div class="img" data-scroll-reveal></div>
    </div>
</section>