﻿@model MyStudyLife.Umbraco.Models.BlogPostModel

@{
    Layout = "_Base.cshtml";
}

@section MetaTags {
    <meta name="twitter:card" content="summary">
    <meta name="twitter:author" content="@(Model.PostedBy)">
    <meta name="twitter:title" content="@(Model.ContentTitle)">
    <meta name="twitter:description" content="@(Model.ContentShort)">

    <meta property="og:type" content="article">
    <meta property="og:title" content="@(Model.ContentTitle)">
    <meta property="og:description" content="@(Model.ContentShort)">
    <meta property="og:url" content="@(Model.Content.UrlWithDomain())">
    <meta property="og:locale" content="en_GB">
    
    <meta property="article:published_time" content="@(Model.PostedOn.ToString("O"))">
}

@section Scripts {
    <script type="text/javascript">
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=465146216832231&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');
    </script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
}

<section id="blog-post" class="text fill-screen">
    <div class="in">
        @Html.Partial("~/Views/Partials/_BlogPost.cshtml", Model)
    </div>
</section>