﻿@model MyStudyLife.Umbraco.Models.BlogModel

@{
    Layout = "_Base.cshtml";
}

@section MetaTags {
    @* Ensures we don't get duplicate SEO for /blog and /blog?p=1 *@
    @if (Model.IsFirstPage) {
        <link rel="canonical" href="@(Model.Content.UrlWithDomain())" />
    }
    @if (Model.CanGoBack) {
        <link rel="prev" href="@(Model.BackUrl)" />
    }
    @if (Model.CanGoNext) {
        <link rel="next" href="@(Model.NextUrl)" />
    }
}

@section Scripts {
    <script type="text/javascript">
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=465146216832231&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');
    </script>
}

<section id="blog" class="text fill-screen">
    <div class="in">
        @if (Model.Posts.Any()) {
            foreach (var post in Model.Posts) {
                @Html.Partial("~/Views/Partials/_BlogPost.cshtml", post)
            }
        }
        else {
            <p>Nothing to see here yet.</p>
        }
        <nav class="cf">
            @if (Model.CanGoNext) {
                <a class="l" href="@(Model.NextUrl)">Older</a>
            }
            @if (Model.CanGoBack) {
                <a class="r" href="@(Model.BackUrl)">Newer</a>
            }
        </nav>
    </div>
</section>