﻿<!DOCTYPE html>

<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <title>Server Error</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/ico">

@if (Request.IsLocal) {
    <link rel="stylesheet/less" type="text/css" href="/less/main.less" />

    <script>var less = less || {}; less.env = 'development'; window.debug = true;</script>
    <script src="/less/less.js"></script>
}
else {
    <link rel="stylesheet" type="text/css" href="/css/main.min.css" />
}

    <script type="text/javascript" src="https://use.typekit.com/dxy4ykg.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
</head>
<body itemscope itemtype="http://schema.org/WebPage">
    <div id="fb-root"></div>

    <header>
        <div class="in">
            <div class="logo"></div>
        </div>
    </header>

    <section id="error" class="ctd fill-screen">
        <div class="in">
            <h2>Uh oh! Server error!</h2>
            <p>We're having trouble displaying this page at the moment. Please try again later.</p>
            <img src="/img/buster.png" class="buster" />
        </div>
    </section>

    @if (Request.IsLocal) {
        <script src="/js/lib/jquery.js"></script>
        <script src="/js/lib/scrollReveal.js"></script>
        <script src="/js/lib/hammer.js"></script>
        <script src="/js/main.js"></script>
    }
    else {
        <script src="/js/bundle.min.js"></script>
    }

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-22456359-2', 'www.mystudylife.com');
        ga('send', 'pageview');

        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "f45641db-6744-431e-b0a9-db845dc0de5c"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</body>
</html>