﻿@{
    Layout = "_Base.cshtml";
}

<section id="error" class="ctd fill-screen">
    <div class="in">
        <h2>Buster!</h2>
        <p>Oops. Looks like buster may have eaten this page. Sorry about that.</p>
        <img src="/img/buster.png" class="buster" />
        <a href="/" class="btn">Back Home</a>
    </div>
</section>