﻿@model MyStudyLife.Umbraco.Models.HomeModel
@using MyStudyLife.Umbraco.Utility

@{
    Layout = "_Base.cshtml";
}

@*
    <section id="message" class="site-message">
        <div class="in">
            <b>#VOOM</b>&nbsp;We've made it to the semi-finals to pitch to Richard Branson! <a href="http://www.virginmediabusiness.co.uk/pitch-to-rich/new-things/my-study-life/">Vote</a> and help us reach the final!
        </div>
    </section>
*@

<section id="hero" class="hero">
    <div class="in">
        <h1>@(Model.ContentTitle)</h1>
        <p>@(Model.HeroText)</p>
        <a class="btn" id="primary-cta" href="@(GAHelper.UrlWithMedium(Model.GetTheAppUrl, "get-the-app-hero"))" target="_blank">@(Model.GetTheAppText)</a>
    </div>
    <div class="img">
        <div class="school" data-scroll-reveal="enter bottom move 200px over 1.5s"></div>
        <div class="trees" data-scroll-reveal="over .5s">
            <div class="l"></div>
            <div class="r"></div>
        </div>
        <div class="ground"></div>
        <div class="lamps" data-scroll-reveal="after 1s enter top move 200px over .25s">
            <div class="l"></div>
            <div class="r"></div>
        </div>
        <div class="hand" data-scroll-reveal="after 1s enter bottom move 200px over 1s">
            <div class="screenshot" style="background-image: url('@(Model.HeroScreenshot)')"></div>
        </div>
    </div>
</section>

<section id="features" class="alt ctd">
    <div class="in">
        <h2>Make your study life easier to manage</h2>
        <div class="features">
            <div class="cf">
                <div class="feature scheduling">
                    <h3>Scheduling / Timetabling</h3>
                    <p>Written from the ground up for schools, My Study Life supports week and day rotation timetables as well as traditional weekly schedules.</p>
                </div>
                <div class="feature tasks">
                    <h3>Tasks</h3>
                    <p>Not just another todo list. Bespoke for schools, My Study Life knows you need to keep track of more than just homework.</p>
                </div>
            </div>
            <div class="cf">
                <div class="feature reminders">
                    <h3>Reminders</h3>
                    <p>Get notified about incomplete tasks and upcoming classes and exams with our mobile apps.</p>
                </div>
                <div class="feature sync">
                    <h3>Sync</h3>
                    <p>Cross platform awesomeness. Your data seamlessly syncs across all of your devices and is accessible even when you're offline.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="platforms" class="r">
    <div class="in">
        <div class="txt">
            <h2>Available on your device</h2>
            <p>With our beautifully designed apps available on iPhone, Android, Windows 8, Windows Phone and the web, My Study Life works on all of your devices.</p>
            <div class="platform-icons cf">
                <a class="apple" href="@(GAHelper.UrlWithMedium(Model.iOSAppUrl, "platforms"))" target="_blank"></a>
                <a class="android" href="@(GAHelper.UrlWithMedium(Model.AndroidAppUrl, "platforms"))" target="_blank"></a>
                <a class="chrome" href="@(GAHelper.UrlWithMedium(Model.ChromeAppUrl, "platforms"))" target="_blank"></a>
            </div>
        </div>
        <div class="img">
            <div class="web" data-scroll-reveal="enter left move 200px over .5s">
                <img src="/img/browser.svg" width="548" height="399" />
                <div class="screenshot" style="background-image: url('@(Model.PlatformWebScreenshot)')"></div>
            </div>
            <div class="phone" data-scroll-reveal="after .5s enter bottom move 200px over .5s">
                <img src="/img/phone.svg" width="160" height="357" />
                <div class="screenshot" style="background-image: url('@(Model.PlatformPhoneScreenshot)')"></div>
            </div>
        </div>
    </div>
</section>

<section id="sync" class="alt">
    <div class="in">
        <div class="txt">
            <h2>Unchewable!</h2>
            <p>Have a hungry canine companion with an appetite for homework diaries? No problem. My Study Life stores your data in the cloud and syncs across all of your devices. Our apps even work offline and sync when you're back online.</p>
            <a class="btn light" href="/tour">Take The Tour</a>
        </div>
        <div class="img">
            <div class="buster" data-scroll-reveal="enter bottom move 200px over .5s"></div>
            <div class="clouds" data-scroll-reveal="after .25s enter right move 400px over 1s"></div>
        </div>
    </div>
</section>

<section id="feedback" class="ctd">
    <div class="in">
        <h2>Don't just take our word for it</h2>
        <p>These are just a few of the amazing reviews we get every day.</p>
        <div class="reviews-wrapper">
            <a class="nav l" data-reviews-change="-1"></a>
            <div class="reviews cf">
                @{
                    int center = (int)Math.Round((Model.Reviews.Count / 2.0) / 3.0) * 3;
                    int i = center;
                }

                @foreach (var review in Model.Reviews)
                {
                    <article class="review" data-scroll-reveal="after @(Math.Abs(i) * .165)s enter bottom move 212px over .33s">
                        <p>@(review.Content)</p>
                        <strong class="name">@(review.ReviewerName)</strong>
                        <strong class="source">@(review.ReviewSource)</strong>
                    </article>

                    i--;
                }
            </div>
            <a class="nav r" data-reviews-change="+1"></a>
        </div>
        <div class="touch-nav cf">
            <a class="l" data-reviews-change="-1"></a>
            <a class="r" data-reviews-change="+1"></a>
        </div>
    </div>
</section>

@*
    <section id="pricing" class="alt slither bg-parallax">
        <div class="in">
            <h2>Free for students.</h2>
        </div>
    </section>

    <section id="schools" class="r">
        <div class="in">
            <div class="txt cf">
                <h2>Support for schools</h2>
                <p>We're working on making My Study Life as awesome for teachers &amp; schools as it is for students.</p>
                <p>With MIS integration already available, it's even faster to get your students started with My Study Life.</p>
                <a class="btn" href="/schools#get-in-touch">Interested? Let us know</a>
            </div>
            <div class="img" data-scroll-reveal></div>
        </div>
    </section>
*@

<section id="continue" class="alt slither">
    <div class="in">
        <h2>Ready to say goodbye to your paper planner?</h2>
        <div class="options cf">
            <a class="btn light" href="@(GAHelper.UrlWithMedium(Model.GetTheAppUrl, "get-the-app-footer"))">@(Model.GetTheAppText)</a>
            <a class="btn light" href="/tour">Take the tour</a>
        </div>
    </div>
</section>