﻿@model MyStudyLife.Umbraco.Models.PromoFormModel

@{
    Layout = "_Base.cshtml";
}

<section class="hero" id="promo-form">
    <div class="in form" data-replaceonsubmit-form="viewform_@(Model.CampusFormId)" data-replaceonsubmit-content="form-thanks">
        <h1>@(Model.ContentTitle)</h1>
        <p>@(Model.HeroText)</p>
        <script id="form_@(Model.CampusFormId)">
            var form_id = '@(Model.CampusFormId)';
            (function(w, d, r) {
                var h = d.getElementsByTagName("head")[0];
                var s = d.createElement('script');
                s.type = 'text/javascript';
                s.src = r;
                h.appendChild(s);
            })
            (window, document, '//uk4.sprint-campus.co.uk/assets/application/js/formgen.js');
        </script>
    </div>

    <script id="form-thanks" type="text/html">
        <div class="in form-thanks">
            <div class="txt">
                <h2>Thanks for getting in touch</h2>
                <p>We've received your request and a member of the team will be in touch shortly.</p>
            </div>
        </div>
    </script>
</section>