﻿@inherits UmbracoViewPage<MyStudyLife.Umbraco.Models.SchoolsModel>

@{
    Layout = "_Base.cshtml";
}

<section id="schools-hero" class="hero">
    <div class="in">
        <h1>@(Model.ContentTitle)</h1>
        <p>@(Model.HeroText)</p>
    </div>
    <div class="img">
        <div class="classroom">
            <div class="chalkboard" data-scroll-reveal="after .25s enter bottom move 200px over .5s">
                <img src="/img/chalkboard.svg" width="764" height="502" />
                <div class="chalk"></div>
            </div>
            <div class="teacher" data-scroll-reveal="enter left move 200px"></div>
            <div class="bin" data-scroll-reveal="enter right move 200px"></div>
        </div>
    </div>
</section>

<section id="punctuality" class="alt r">
    <div class="in">
        <div class="txt">
            <h2>Increase punctuality</h2>
            <p>Getting used to a new timetable can be tedious. Living with a two-week timetable confusing. With My Study Life, the student’s timetable is right there on their device; just like a calendar*.</p>
            <p>Students can quickly check their next class and even get reminders a class is about to start. Reducing lateness, decreasing disruption and increasing the time spent in class learning.</p>
            <small>*but with ground-up support for rotation schedules, holidays and other school specific goodness!</small>
        </div>
        <div class="img">
            <div class="clock"></div>
            <div class="simon" data-scroll-reveal="enter bottom move 200px over .5s"></div>
        </div>
    </div>
</section>

<section id="excuses" class="l">
    <div class="in">
        <div class="txt">
            <h2>Eliminate excuses</h2>
            <p>“I lost my planner”, “I left my planner at home so couldn’t write down the homework”, “I thought it was due tomorrow” or even “I couldn’t read my own writing”. Just a few of the homework related excuses My Study Life eliminates.</p>
            <p>Lack of available excuses promotes better self-discipline in students; improving punctuality of homework and a vital skill for the workplace.</p>
        </div>
        <div class="img">
            <div class="buster" data-scroll-reveal="enter bottom move 200px over .5s"></div>
        </div>
    </div>
</section>

<section id="attainment" class="r alt">
    <div class="in">
        <div class="txt">
            <h2>Raise attainment</h2>
            <p>Students in class on time, spending longer learning and handing their homework in when it’s due – the obvious ones, but these aren’t the only ways My Study Life helps increase attainment.</p>
            <p>The dashboard gives students an overview of their day, so even if your school uses a confusing 6-day block schedule, there’s no excuse for forgetting to bring something to class (like those elusive gym clothes).</p>
            <p>Even for the most organised student, paper planners can be clumsy and difficult to follow. My Study Life clearly shows tasks in the order they’re due and the students can mark the percentage complete too – great for projects. Easier to follow and manage, enabling better organisation, more productive students producing better quality work ultimately increasing attainment.</p>
        </div>
        <div class="img">
            <img src="/img/pass.svg" width="512" data-scroll-reveal="move 0px over .3s" />
        </div>
    </div>
</section>

<section id="students" class="l">
    <div class="in">
        <div class="txt">
            <h2>Tried, tested and loved by students</h2>
            <p>Students around the world have been choosing to replace their paper planners with My Study Life for over 4 years and we’ve been continuously improving in response to their feedback.</p>
            <p>We’ve developed something students love and we have fantastic reviews from real students to prove it.</p>
        </div>
        <div class="img">
            <div class="reviews-wrapper">
                <div class="reviews">
                    @foreach (var review in Model.StudentReviews) {
                        <article class="review">
                            <p>@(review.Content)</p>
                            <strong class="name">@(review.ReviewerName)</strong>
                            <strong class="source">@(review.ReviewSource)</strong>
                        </article>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section id="custom-branding" class="r alt">
    <div class="in">
        <div class="txt">
            <h2>Single sign-on</h2>
            <p>We support Office 365 and Google Apps for Education sign-on too, so students don’t have password, PIN or code to remember or even an activation email to wait for. A better experience for your students whilst reducing headaches for your IT team.</p>
        </div>
        <div class="img">
            <div class="phone" data-scroll-reveal="enter bottom move 200px over .5s">
                <img src="/img/phone.svg" width="286" />
                <div class="screenshot" style="background-image: url('@(Model.CustomBrandingScreenshot)')"></div>
            </div>
        </div>
    </div>
</section>


<section id="get-in-touch" class="l">
    <div class="in" data-replaceonsubmit-form="6a1bd3d5-06b1-4da4-842e-ad490a414ac5" data-replaceonsubmit-content="form-thanks">
        <div class="txt">
            <h2>Get in touch</h2>
            <p>Interested in using My Study Life at your school?</p>
            <p>Get in touch and see how we can help.</p>
            <small>PS. You can also help save some trees (and money) by using devices students already own!</small>
        </div>
        <div class="img form">
            <i>If you're already a My Study Life user or have a question related to our student account, please contact us via. our <a href="http://feedback.mystudylife.com">help + feedback portal</a>.</i>
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
                hbspt.forms.create({
                    css: '',
                    portalId: '3108766',
                    formId: '6a1bd3d5-06b1-4da4-842e-ad490a414ac5'
                });
            </script>

        </div>
    </div>

    <script id="form-thanks" type="text/html">
        <div class="in">
            <div class="txt form-thanks">
                <h2>Thanks for getting in touch</h2>
                <p>We've received your request and a member of the team will be in touch shortly.</p>
            </div>
        </div>
    </script>
</section>