﻿@model MyStudyLife.Umbraco.Models.TextModel

@{
    Layout = "_Base.cshtml";
}

<section id="text" class="text fill-screen @(Model.IsLegalText ? "legal" : String.Empty)">
    <div class="in">
        <h1>@(Model.ContentTitle)</h1>
        <div>@(Model.ContentHtml)</div>
    </div>
</section>