﻿@inherits UmbracoViewPage<MyStudyLife.Umbraco.Models.TourModel>

@{
    Layout = "_Base.cshtml";
}

@section MetaTags {
    <link rel="canonical" href="@(Model.Content.UrlWithDomain())" />
}

<section id="tour-hero" class="hero">
    <div class="in">
        <h1>@(Model.ContentTitle)</h1>
        <p>@(Model.HeroText)</p>
    </div>
    <div class="img">
        <div class="lecture">
            <div class="l" data-scroll-reveal="enter left move 200px over .5s"></div>
            <div class="chalkboard" data-scroll-reveal="after .25s enter bottom move 200px over .5s">
                <img src="/img/chalkboard.svg" width="764" height="502" />
                <div class="chalk"></div>
            </div>
            <div class="r" data-scroll-reveal="enter right move 200px over .5s"></div>
            <div class="b" data-scroll-reveal="enter bottom move 200px over .5s"></div>
        </div>
    </div>
</section>

<nav id="tour-nav">
    <div class="in cf">
        @foreach (var item in Model.TourItems) {
            <a href="@(item.Content.Url)" class="@(item.IsCurrent ? "current" : null)" data-icon="@(item.Icon)" data-item="@(item.Content.UrlName)">
                @(item.Content.Name)
            </a>
        }
    </div>
</nav>

<div class="tour-items">
    @foreach (var item in Model.TourItems) {
        <div class="tour-item @(item.IsCurrent ? "current" : null)" data-item="@(item.Content.UrlName)">
            @Html.Partial(item.TemplatePath, item)

            @if (item.HasNextItem) {
                <section id="continue" class="slither">
                    <div class="in">
                        <h2>Continue the tour</h2>
                        <div class="options cf">
                            <a class="btn next-tour-item" href="@(item.NextItemUrl)">Next up: @(item.NextItemName)</a>
                        </div>
                    </div>
                </section>
            }
        </div>
    }
</div>