﻿@model MyStudyLife.Umbraco.Models.TourItemModel
@using MyStudyLife.Umbraco.Utility

@{
    Layout = null;
}

<section id="reminders" class="alt r">
    <div class="in">
        <div class="txt">
            <h2>Reminders</h2>
            <p>
                Even the best of us lose track of time now and then. That's why you can tell
                My Study Life to remind you that a class or exam is about to start.
            </p>
            <p>
                My Study Life can also remind you about incomplete tasks so you'll
                never forget an assignment or miss a lecture again.
            </p>
        </div>
        <div class="img">
            <div class="clock"></div>
            <div class="phone" data-scroll-reveal="enter bottom move 200px over .5s">
                <img src="/img/phone.svg" width="228" height="479" />
                <div class="screenshot"></div>
            </div>
        </div>
    </div>
</section>

<section id="whenever-wherever">
    <div class="in">
        <div class="txt">
            <h2>Whenever, wherever</h2>
            <p>
                Ever lost or left your homework diary at school or round a friend's house?  Or even
                your phone? Not a problem. My Study Life stores your data in the cloud, so even
                if you lose a device your data will still be there when you sign in again - from any
                device*.
            </p>
            <p>
                My Study Life works offline too, so even if your school or university is in a
                coverage blackspot, you can still check your timetable and add tasks (or anything
                for that matter) and it will sync when you're back online.
            </p>
            <small>*Data must be synced before losing the device.</small>
        </div>
        <div class="img" data-scroll-reveal>
        </div>
    </div>
</section>

<section id="msl" class="alt ctd r">
    <div class="in">
        <h2>Everything in one place</h2>
        <p>
            My Study Life isn't just a calendar and a todo list. It's a seamless integration of all
            aspects of your study life designed for you to help you get organised and excel.
        </p>
        <div class="icons">
            <div class="icon-class"></div>
            <div class="icon-task"></div>
            <div class="icon-exam"></div>
        </div>
        @if (Model.TourModel.IsiPhoneOriPod) {
            <a class="btn light" href="@(GAHelper.UrlWithMedium(Model.TourModel.iOSAppUrl, "get-the-app-tour-end"))">Get the iPhone app</a>
        }
        else if (Model.TourModel.IsAndroid) {
            <a class="btn light" href="@(GAHelper.UrlWithMedium(Model.TourModel.AndroidAppUrl, "get-the-app-tour-end"))">Get the Android app</a>
        }
        else if (Model.TourModel.IsWindowsPhone) {
            <a class="btn light" href="@(GAHelper.UrlWithMedium(Model.TourModel.WindowsPhoneAppUrl, "get-the-app-tour-end"))">Get the Windows Phone app</a>
        }
        else {
            <a class="btn light" href="@(GAHelper.UrlWithMedium("https://app.mystudylife.com", "get-the-app-tour-end"))">Get started</a>
        }
    </div>
</section>