﻿@model MyStudyLife.Umbraco.Models.TourItemModel

@{
    Layout = null; //"_Tour.cshtml";
}

<section id="todo-list" class="alt r">
    <div class="in">
        <div class="txt">
            <h2>Not just another to-do list</h2>
            <p>
                To-do lists are great for simple tasks but just don't cut it for homework.
            </p>
            <p>
                We know assignments can be big, small and everything in between. We also know that
                most homework isn't completed in a single night. That's why, with My Study Life,
                you can specify how much of a task has been completed, not just a binary option.
            </p>
        </div>
        <div class="img">
            <div class="todo-list" data-scroll-reveal="enter top move 200px"></div>
        </div>
    </div>
</section>

<section id="tasks-at-a-glance">
    <div class="in">
        <div class="txt">
            <h2>Tasks, at a glance</h2>
            <p>
                With traditional homework diaries, you have to flick through the pages trying to work out on which day that
                piece of homework that your friend has just reminded you is due tomorrow was set. Not with My Study Life.
            </p>
            <p>
                The dashboard view gives you an overview of your entire day - not just classes and exams. Incomplete tasks due
                soon are also shown so you know exactly what you need to do, at a glance.
            </p>
        </div>
        <div class="img">
            <div class="planner" data-scroll-reveal="enter right move 200px"></div>
        </div>
    </div>
</section>

<section id="revision-tasks" class="alt r">
    <div class="in">
        <div class="txt">
            <h2>Revision tasks</h2>
            <p>
                Not all tasks are created equal. Why should you have to use a separate tool to track revision for those all important exams?
            </p>
            <p>
                With My Study Life, you can create a task and assign it to an exam so you know which areas you have left to revise.
            </p>
        </div>
        <div class="img">
            <div class="calendar" data-scroll-reveal></div>
        </div>
    </div>
</section>