﻿@model MyStudyLife.Umbraco.Models.TourItemModel

@{
    Layout = null;// "_Tour.cshtml";
}

<section id="calendar" class="alt r">
    <div class="in">
        <div class="txt">
            <h2>Not just another calendar</h2>
            <p>
                We understand that most school timetables work nothing like a traditional calendar so we didn't write My Study Life to be one.
                After all, classes and exams aren't calendar entries, they're classes and exams! My Study Life will even let you know which classes conflict
                with your exam.
            </p>
        </div>
        <div class="img">
            <div>
                <div class="uniform" data-scroll-reveal="enter left move 200px over .5s"></div>
                <div class="calendar" data-scroll-reveal="after .5s enter bottom move 200px over .5s"></div>
            </div>
        </div>
    </div>
</section>

<section id="rotation-schedules">
    <div class="in">
        <div class="txt">
            <h2>Rotation schedules</h2>
            <p>
                As if school wasn't already difficult enough without needing to guess which classes you have every day.
                My Study Life supports both week and day rotation schedules as well as timetables which repeat every week.
            </p>
            <p>
                Because My Study Life was written from the ground up for schools, you don't have to tell every class to repeat
                every x weeks or days. Simply tell My Study Life how your schedule works and assign the class to the
                rotation week or days.
            </p>
        </div>
        <div class="img">
            <div class="arrows" data-scroll-reveal></div>
        </div>
    </div>
</section>

<section id="holidays" class="alt r">
    <div class="in">
        <div class="txt">
            <h2>Years, terms &amp; holidays</h2>
            <p>
                Classes don't last forever, in fact some classes don't even last a year. With My Study Life, not only can you assign
                a class to an academic year, but also to it's terms and specify custom start/end dates if needed.
            </p>
            <p>
                With holidays in My Study Life, not only can you see which days you have off but you can also shift rotation schedules.
                And of course, you won't get reminded about your classes on holidays either.
            </p>
        </div>
        <div class="img" data-scroll-reveal></div>
    </div>
</section>